*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: space-between;
    
}
nav{
    width: 5%;
    background-color: #1b1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease;
}
.menu{
    height: 95vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2rem;
}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;

}
.menu-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.add-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2b2929;
    border: 1px solid black;
    cursor: pointer;
}

.i-icon{
    max-width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
    display: none;
}
.i-icon-text{
    width: 70%;
    text-align: left;
    color: white;
    font-size: 14px;
    word-spacing: 1px;
    transform: translate(20%, -30%);
    transition: all 0.5s ease-in;

}
.info-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #1b1a1a;
    color: white;
    margin-right: 1rem;
    margin-top: 1rem;
    border: none;
    outline: none;
}

.settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
}
.setting-items{
    background-color: #1b1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.setting-items span{
    color: white;
    align-self: start;
    font-size: 1.5rem;
}
.setting-text{
    margin-left: 1rem;
    font-size: 12px;
    word-spacing: 1px;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: translate(0, -50%);
    visibility: hidden;
}

main{
    width: 95%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
}
main .container .upper-section{
    width: 100%;
    height: 3rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

main .container .upper-section .logo-section{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
  
}
 
main .container .logo-section h2{
    color: #9c9797;
}
.user-upgrade{
    display: flex;
    align-items: center;
    padding: 2rem;
    color: white;
    font-weight: bold;
    margin-right: -1.5rem;
}
.user-upgrade button{
    margin-right: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: #3d3b3b;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    

}
.user-upgrade button img{
    margin-right: 1rem;
    width: 25px;
    height: 25px;
}
.user-upgrade .apps{
    margin-right: 1rem;
    cursor: pointer;
}

.user-upgrade img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
.user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: grey black;
    scroll-margin-top: 10px;
    
}
.header{
    margin-top: 8vh;
    width: 50%;
}

.header h1{
    font-size: 3.5rem;
    background: linear-gradient(to right, rgb(25, 23, 178),rgb(156, 25, 176), rgb(209, 46, 28));
    background-clip: clip;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.header >p{
    font-size: 3.5rem;
    margin-top: -1rem;
    color: dimgrey !important;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8vh;
}
.cards-prompt{
    margin: 2rem  10px;
    color: white;
    text-align: center;
    width: 180px;
    background-color: #1f1e1e;
    height: 180px;
    border-radius: 10px;
    text-align: left;
    font-size: 1.1rem;
    padding: 1.1rem;
    cursor: pointer;
}
.cards-prompt:hover{
    background-color: #444141;
    color: white;
}
.input-section{
    width: 50%;
    display: flex;
    height: max-content;
    margin-left: 25%;
    margin-bottom: 1rem;
    margin-top: 3rem;

}
#btn{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #3d3b3b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transform: translate(-6rem, -10px);
    transition: background-color 0.5s ease;
}
.input-section #input-field{
    width: 100%;
    padding: 1.3rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    outline: none;
    background-color: #3d3b3b;
}

.input-section #input-field::placeholder{
    font-size: 1rem;
    color: #b6b1b1;    
}
.gemini{
    margin-top: 1rem;
    width: 35%;
    height: 50vh;
    margin-top: 7rem;
   text-indent: 10px;
   text-align: center;
}
.gemini p{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: aliceblue;
    letter-spacing: 1px;

}

.active{
    width: 25%;
    background-color: #1b1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}